<% @vehicles.each do |item| %>
  <div>
    <p><%= item.brand%></p>
    <p><%= item.model%></p>
    <p><a href="<%= new_booking_path(vehicle_id: item.id)%>" class="btn btn-primary">Go to bookings</a></p>
  </div>
<% end %>
