<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <div class="booking-cta">
            <h1>Make your reservation</h1>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-7">
          <div class="booking-form">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>